*{
background-color: dimgrey;
}

#header{
    background:black;
}
h2{
     padding-left: 1.5em;
}

li{
    padding-right: 1.5em;
    margin-left: 35px;
    display: inline;
    float: right;
    color:white;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   
   color: white;
   padding-left: 1.5em;
}

.desc{
   float: right;
    padding-right:5em;
    padding-top: 2em;
    font-size: 50px;
}

img{
    padding-left: 1.5em;
}
